Numpy Array Operations:
1. Create a 1D NumPy Array:

In [1]:
import numpy as np

# Week 1 temperatures
temperatures_w1 = np.array([22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9])

# Display the array
print("Week 1 Temperatures:", temperatures_w1)

Week 1 Temperatures: [22.5 25.3 20.8 23.4 26.1 24.8 21.9]

2. Inspection and Properties:

In [2]:
# Inspect shape
print("Shape of the array:", temperatures_w1.shape)

# Inspect data type
print("Data type of the array:", temperatures_w1.dtype)

# Inspect number of elements
print("Number of elements:", temperatures_w1.size)

Shape of the array: (7,)
Data type of the array: float64
Number of elements: 7

3. Array Operations:

In [3]:
# Convert to Fahrenheit
temperatures_w1_fh = (temperatures_w1 * 9/5) + 32

# Display the converted array
print("Week 1 Temperatures in Fahrenheit:", temperatures_w1_fh)

Week 1 Temperatures in Fahrenheit: [72.5  77.54 69.44 74.12 78.98 76.64 71.42]

In [4]:
# Maximum temperature
max_temp = np.max(temperatures_w1)

# Minimum temperature
min_temp = np.min(temperatures_w1)

# Mean (average) temperature
mean_temp = np.mean(temperatures_w1)

# Display results
print("Maximum Temperature:", max_temp, "°C")
print("Minimum Temperature:", min_temp, "°C")
print("Mean Temperature:", round(mean_temp, 2), "°C")

Maximum Temperature: 26.1 °C
Minimum Temperature: 20.8 °C
Mean Temperature: 23.54 °C

4. Array Slicing and Indexing:

In [5]:
# Extract temperatures for first 3 days (index 0, 1, 2)
first_three_days = temperatures_w1[:3]

# Display result
print("Temperatures for the first three days:", first_three_days)

Temperatures for the first three days: [22.5 25.3 20.8]

In [9]:
# Extract temperatures for Weekend (2 days)
Weekend_days = temperatures_w1[-2:]

# Display result
print("Temperatures for the Weekends:", Weekend_days)

Temperatures for the Weekends: [24.8 21.9]

In [11]:
# Extract temperatures for middle  (3 days)
middle_days = temperatures_w1[2:5]

# Display result
print("Temperatures for the Middle days:", middle_days)

Temperatures for the Middle days: [20.8 23.4 26.1]

5. Create a 2D Array:

In [12]:
# Week 2 temperatures
temperatures_w2 = np.array([19.2, 22.5, 21.3, 24.0, 23.5, 22.8, 20.1])

# Display the array
print("Week 1 Temperatures:", temperatures_w1)
print("Week 2 Temperatures:", temperatures_w2)

Week 1 Temperatures: [22.5 25.3 20.8 23.4 26.1 24.8 21.9]
Week 2 Temperatures: [19.2 22.5 21.3 24.  23.5 22.8 20.1]

6. Inspect and Slice the 2D Array:

In [13]:
# Combine into a 2D array
temperatures = np.array([temperatures_w1, temperatures_w2])

# Inspect shape
print("Shape of the array:", temperatures.shape)

# Inspect data type
print("Data type of the array:", temperatures.dtype)

# Inspect number of elements
print("Number of elements:", temperatures.size)

Shape of the array: (2, 7)
Data type of the array: float64
Number of elements: 14

In [14]:
# Extract Week 1 (row 0) & temperatures is a 2D array
week1 = temperatures[0]
print("Week 1 Temperatures:", week1)

# Extract Week 2 (row 1)
week2 = temperatures[1]
print("Week 2 Temperatures:", week2)

# Extract Weekend (last two days → columns 5 and 6)
weekends = temperatures[:, -2:]  # All rows, last 2 columns
print("Weekend Temperatures (Both Weeks):\n", weekends)

Week 1 Temperatures: [22.5 25.3 20.8 23.4 26.1 24.8 21.9]
Week 2 Temperatures: [19.2 22.5 21.3 24.  23.5 22.8 20.1]
Weekend Temperatures (Both Weeks):
 [[24.8 21.9]
 [22.8 20.1]]

Pandas Series:
1. Creating Pandas Series:

In [15]:
import pandas as pd

# Create the Series
marks = pd.Series(
    [95, 92, 89, 85, 80],
    index=['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5'])

# Display the Series
print(marks)

Rank1    95
Rank2    92
Rank3    89
Rank4    85
Rank5    80
dtype: int64

2. Indexing and Slicing:

In [16]:
print("Mark of 1st Rank Student:", marks[0])

Mark of 1st Rank Student: 95

/tmp/ipython-input-232970152.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Mark of 1st Rank Student:", marks[0])

In [18]:
# Retrieve top 3 ranks using index labels
top3_marks = marks.loc[['Rank1', 'Rank2', 'Rank3']]

print("Marks of Top 3 Ranks:\n", top3_marks)

Marks of Top 3 Ranks:
 Rank1    95
Rank2    92
Rank3    89
dtype: int64

In [19]:
# Retrieve mark of the 3rd rank student (index position 2)
third_rank_mark = marks.iloc[2]

print("Mark of 3rd Rank Student:", third_rank_mark)

Mark of 3rd Rank Student: 89

In [20]:
# Apply boolean mask to filter marks > 90
high_scorers = marks[marks > 90]

print("Ranks with marks greater than 90:\n", high_scorers)

Ranks with marks greater than 90:
 Rank1    95
Rank2    92
dtype: int64

3. Manipulating Series:

In [21]:
# Modify the mark of 1st rank student
marks['Rank1'] = 100

print("Updated Marks Series:\n", marks)

Updated Marks Series:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
Rank5     80
dtype: int64

In [22]:
# Remove the last rank (Rank5)
marks = marks.drop('Rank5')

print("Marks Series after removing last rank:\n", marks)

Marks Series after removing last rank:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
dtype: int64

In [23]:
# Compute CGPA
cgpa = marks / 10

print("CGPA of Students:\n", cgpa)

CGPA of Students:
 Rank1    10.0
Rank2     9.2
Rank3     8.9
Rank4     8.5
dtype: float64

Pandas DataFrame:
1. Creating Pandas DataFrame:

In [34]:
import pandas as pd

# Data for the DataFrame
data = {
    'TransactionID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Furniture',
                        'Clothing', 'Electronics', 'Furniture', 'Clothing',
                        'Furniture', 'Electronics'],
    'Region': ['North', 'South', 'North', 'East', 'West', 'North', 'East',
               'West', 'South', 'North'],
    'Amount': [200, 150, 300, 450, 200, 250, 300, 180, 350, 400]
}

# Create DataFrame
transactions = pd.DataFrame(data)

# Display the DataFrame
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

2. Data Exploration:

In [25]:
# Display the DataFrame
print("Transactions DataFrame:")
print(transactions)

# Display the first 5 rows
print("\nHead of the DataFrame:")
print(transactions.head())

# Display the last 5 rows
print("\nTail of the DataFrame:")
print(transactions.tail())

# Display the shape (rows, columns)
print("\nShape of the DataFrame:")
print(transactions.shape)

# Display column names
print("\nColumn Names:")
print(transactions.columns)

# Display data types of each column
print("\nData Types:")
print(transactions.dtypes)

Transactions DataFrame:
   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

Head of the DataFrame:
   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200

Tail of the DataFrame:
   TransactionID ProductCategory Region  Amount
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

Shape of the DataFrame:
(10, 4)

Column Names:
Index(['TransactionID', 'ProductCategory', 'Region', 'Amount'], dtype='object')

Data Types:
TransactionID       int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

In [26]:
# Display only 'ProductCategory' and 'Amount' columns
selected_columns = transactions[['ProductCategory', 'Amount']]
print(selected_columns)

  ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

In [27]:
# Retrieve last 3 columns using iloc
last_three_columns_iloc = transactions.iloc[:, -3:]
print(last_three_columns_iloc)

  ProductCategory Region  Amount
0     Electronics  North     200
1        Clothing  South     150
2     Electronics  North     300
3       Furniture   East     450
4        Clothing   West     200
5     Electronics  North     250
6       Furniture   East     300
7        Clothing   West     180
8       Furniture  South     350
9     Electronics  North     400

In [28]:
# Filter rows where Region is 'North' and Amount > 200
filtered_rows = transactions[(transactions['Region'] == 'North') & (transactions['Amount'] > 200)]
print(filtered_rows)

   TransactionID ProductCategory Region  Amount
2            103     Electronics  North     300
5            106     Electronics  North     250
9            110     Electronics  North     400

In [29]:
# Value counts for 'ProductCategory'
category_counts = transactions['ProductCategory'].value_counts()
print(category_counts)

ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

In [30]:
# Unique values in 'Region' column
unique_regions = transactions['Region'].unique()
print(unique_regions)

['North' 'South' 'East' 'West']

In [31]:
# Group by 'Region' and calculate mean amount
mean_amount_by_region = transactions.groupby('Region')['Amount'].mean()
print(mean_amount_by_region)

Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

In [35]:
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

3. Manipulating the DataFrame:

In [36]:
# Update Amount for TransactionID 102
transactions.loc[transactions['TransactionID'] == 102, 'Amount'] = 165

# Display the updated DataFrame
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [37]:
# Add a new column 'Discount' as 10% of 'Amount'
transactions['Discount'] = transactions['Amount'] * 0.10

# Display the updated DataFrame
print(transactions)

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
8            109       Furniture  South     350      35.0
9            110     Electronics  North     400      40.0

In [38]:
# Remove the row where TransactionID is 109
transactions = transactions[transactions['TransactionID'] != 109]

# Display the updated DataFrame
print(transactions)

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
9            110     Electronics  North     400      40.0

In [39]:
# Delete the 'Discount' column
transactions = transactions.drop(columns=['Discount'])

# Display the updated DataFrame
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
9            110     Electronics  North     400